// Components
//////////////

/*
button {
	@include FontStyle($mainFontFamily, $buttonFontSize, 1, 400, normal, $secondaryTextColor);
	border: 1px solid $secondaryColor;
    border-radius: 0;
    padding: 0 20px 0 20px;
    margin: 6px 8px 6px 8px;
    min-width: 88px;
    text-align: center;
    text-decoration: none;
    border: none;
    outline: 0;
}
*/
